fastapi==0.112.2
uvicorn[standard]==0.30.5
pydantic==2.8.2
python-dateutil==2.9.0.post0
psycopg[binary]==3.1.19
SQLAlchemy==2.0.32
redis==5.0.8
jsonschema==4.23.0
jmespath==1.0.1
prometheus_client==0.20.0
apscheduler==3.10.4
PyJWT==2.8.0
pytz==2024.1
asyncpg==0.29.0
passlib[bcrypt]==1.7.4
slowapi==0.1.9
